/* Universal */

/* Header */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.logo {
  font-family: 'Special Elite';
  font-size: 2.5rem;
  color: black;
  margin-top: .5rem;
}

.tasks {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 1rem;
}

.tasks .task-container {
  text-align: center;
  
  background: #fff9d9;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.tasks div.bottom {
  display: flex;
  justify-content: space-between;
  
}

/* .tasks div.bottom .deadline-date {
  
} */

.tasks div.task-title {
  font-size: 1.2rem;
  background-color: #E9E3A1;
  padding: .5rem;
}


